*{
  box sizing: border box;
}

#bar{
 width: 100%; 
 height: 10%; 
 background: black;
  margin-top: 45%
}

img{
  position: absolute;
  top:30px;
  left:40px
}

#ball{
 border : solid 5px;
 width: 300px;
 height: 300px;
 border-radius: 50%;
 background: linear-gradient(hotpink,yellow,green,aqua,purple);
  box-shadow: 20px 10px 20px 0px gray;
  animation : shake 1s infinite alternate;
  opacity: 0.6
}
@keyframes shake{
  0%{
    transform: rotate(45deg);
    
   
  } 
    30%{
     
    }
      
  100% {
    transform: rotate(-45deg);
    
    
  } 
}
#tree{
  width: 25%;
  height: 25%;
  background: white;
  position: relative;
  top: -20%;
  left: 35%;
  border: solid 5px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 5px gray;
  
}
#center{
  width: 50%;
  height: 50%;
  background: red;
  position: relative;
  top: 19%;
  left: 20%;
  border: solid 5px;
  border-radius: 50%;
  box-shadow: 3px 3px 3px 3px gray;
}
#roll{
 animation:seed infinite 3s
  
}

@keyframes seed {
  
  
  
}